.swal2-popup.swal2-modal {
  background-color: #3a3a4a;
  width: auto;
  padding: 1rem;
  box-shadow: 2px 2px #1d1d29;
}

.swal2-popup.swal2-modal .swal2-content {
  color: var(--color-secundary);
}

.swal2-popup.swal2-modal .swal2-header .swal2-title {
  color: var(--color-secundary);
}

.swal2-popup.swal2-modal .swal2-actions .swal2-confirm {
  width: 60px;
  height: 30px;
  padding: 0;
  background: var(--color-secundary);
  color: var(--color-primary-darker);
  margin-bottom: 0;
}

/* CEP Searching */

.swal2-popup.swal2-data-loading {
  width: auto;
}

.swal2-popup.swal2-data-loading .swal2-content {
  padding: 0;
  color: var(--color-secundary);
}

.swal2-popup.swal2-data-loading .swal2-loading .swal2-loader {
  border-color: var(--color-secundary) transparent var(--color-secundary) transparent;
}

.swal2-popup.swal2-data-loading .swal2-header {
  display: none;
}
