.swal2-popup.swal2-modal {
  background-color: var(--color-primary);
  width: auto;
  padding: 1rem;
  box-shadow: 2px 2px #1d1d29;
}

.swal2-popup.swal2-modal .swal2-content {
  color: var(--color-secundary);
}

.swal2-popup.swal2-modal .swal2-header .swal2-title {
  color: var(--color-secundary);
}

.swal2-popup.swal2-modal .swal2-actions {
  margin: 0.5rem auto 0;
}

.swal2-popup.swal2-modal .swal2-actions.swal2-loading .swal2-loader {
  border-color: var(--color-secundary) transparent var(--color-secundary) transparent;
}

.swal2-popup.swal2-modal .swal2-actions .swal2-confirm {
  width: auto;
  height: auto;
  padding: 8px 13px;
  background: var(--color-secundary);
  color: var(--color-primary-darker);
  margin-bottom: 0;
}

.swal2-popup.swal2-modal .swal2-actions .swal2-cancel {
  width: auto;
  height: auto;
  padding: 8px 13px;
  background: var(--color-primary-darker);
  color: var(--color-secundary);
  margin-bottom: 0;
}

/* CEP Searching */

.swal2-popup.swal2-data-loading {
  width: auto;
}

.swal2-popup.swal2-data-loading .swal2-content {
  padding: 0;
  color: var(--color-secundary);
}

.swal2-popup.swal2-data-loading .swal2-header {
  display: none;
}
